@tailwind base;
@tailwind components;
@tailwind utilities;

/* -- Marquee -- */
.slide-up {
  --from: translateY(100%);
  --to: translateY(-100%);
  animation: slideAnimation 15s linear infinite;
}

.slide-left {
  --from: translateX(100vw);
  --to: translateX(-100%);
  animation: slideAnimation 25s linear infinite;
}

@keyframes slideAnimation {
  0% {
    transform: var(--from);
  }

  100% {
    transform: var(--to);
  }
}